/*Removing browsers inbuilt margin and paddings*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/** adding basic font styles to the document **/
body {
    font-family: Helvetica;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 30px;
}

section {
    width: 25%;
    min-width: 200px;
    margin: 0 auto;
}

/** adding some very basic styles to the form **/
form {
    border: 2px solid #b3b5b7;
    padding: 20px;
    padding-left: 30px;
    border-radius: 2px;
    background-color: #f9fafc;
}

input[type="text"] {
    margin-top: 1px;
    border: 1px solid #898c88;
    height: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

label[for="gender"] {
    margin-bottom: 5px;
    text-transform: capitalize;
    font-size: 15px;
}

label[for="female"] {
    margin-left: 10px;
}

label[for="male"], 
label[for="female"],
label[for="seniorCitizen"], 
input[type="checkbox"], 
input[type="radio"] {
    display: inline;
}

button {
    margin-top: 15px;
    height: 30px;
    box-sizing: content-box;
    padding: 2px 5px;
    border-radius: 2px;
}


button[type="submit"] {
    border: 1px solid #898c88;
    box-shadow: 1px 1px 0.5px 0.5px #b4b7b2 inset;

}

button[type="submit"] span {
    margin-left: 3px;

}

button[type="submit"]:hover {
    color: #fff;
    background-color: #01c43c;
}

button[type="reset"] {
    background-color: #b70b0d;
    color: #f9f4f4;
    border: 1px solid #600109;
    box-shadow: 1px 1px 0.5px 0.5px #770112 inset;
}

button[type="reset"]:hover {
    color: #bf0118;
    background-color: #fff;
}

button[type="reset"] span {
    margin-right: 3px;
}

ul {
    padding: 0px;
    width: 100%;
    list-style-type: none;
}

ul li {
    border: 2px solid #b3b5b7;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    padding: 5px;
    background-color: #000;
    border-bottom: 0;
    margin-bottom: -2px;
    text-transform: uppercase;
    font-weight: bold;
    width: 120px;
    text-align: center;
}

li:first-of-type {
    background-color: #f9fafc;
    color: #5c5d5e;
}

ul li:hover {
    color: #fff;
    background-color: #898b8e;
    cursor: pointer;
}







