p {
  word-wrap: break-word;
}
article {
  margin-top: 200px;
}
footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
.highlight-div {
  height: 200px;
  border: 1px solid #337ab7;
  border-radius: 15px;
  cursor: pointer;
  display: table;
}
.highlight-div:hover {
  box-shadow: 2px 2px 15px #337ab7;
}
.highlight-div a {
  width: 100%;
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
