form[name="newLicenseForm"]{
    display: block;
    border: 2px solid #000;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

div{
    margin: 10px 20px;
    display: inline-block;
}

label{
    display: block;
    padding: 10px 0;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px;
}

button{
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
}

button[type="submit"]{
    background: #41b70c;
}

button[type="reset"]{
    background: #f71814;
}

input{
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#main-section{
    position: relative;
    top: 50px;
}

#nav-heading{
    position: absolute;
    top: 0;
    left: 550px;
    background: #fff;
}

#main-heading{
    position: fixed;
    top: 0;
    left: 550px;
    background: #fff;
}