@keyframes move {
	0% {background-position: -1200px 0};
	100%{background-position: 0 0};
}

body {
	-webkit-animation: move 20s linear infinite alternate;
	-moz-animation: move 20s linear infinite alternate;
	-ms-animation: move 20s linear infinite alternate;
	-o-animation: move 20s linear infinite alternate;
	animation: move 20s linear infinite alternate;
}

@keyframes flyin {

	0% {left:5%;}
	
	20% {color:#4286f4;}

	35% {color: #e0c0df;}

	50% {color: #9fb0cc;}

	65% {color: #bc4f58;}

	80% {color: #f7ef07;}
	
	100% {
		left: 80%;
		color: #fff;
	}
} 

.headingText {
	-webkit-animation: flyin 35s ease-in-out infinite alternate;
	-moz-animation: flyin 35s ease-in-out infinite alternate;
	-ms-animation: flyin 35s ease-in-out infinite alternate;
	-o-animation: flyin 35s ease-in-out infinite alternate;
	animation: flyin 35s ease-in-out infinite alternate;
}

nav > ul > li:hover {
	-moz-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
	-o-transform: scale(1.15,1.15);
	-webkit-transform: scale(1.15,1.15);
	transform: scale(1.15,1.15);
}

@keyframes rotation {
	0% {
		border-radius: 0 0 0 0;
		transform: rotate(0deg);
	}
	20% {
		border-radius: 50% 0 0 0;
		transform: rotate(45deg);

	}
	40% {
		border-radius: 50% 50% 0 0;
		transform: rotate(90deg);

	}60% {
		border-radius: 50% 50% 50% 0;
		transform: rotate(-45deg);

	}
	80% {
		border-radius: 50%;	
		transform: rotate(-90deg);
	}
	100% {
		border-radius: 0%;	
		transform: rotate(0deg);
	}
}

#button > button {
	-webkit-animation: rotation 5s 1s infinite alternate;
	-moz-animation: rotation 5s 1s infinite alternate;
	-ms-animation: rotation 5s 1s infinite alternate;
	-o-animation: rotation 5s 1s infinite alternate;
	animation: rotation 5s 1s infinite alternate;
}

@keyframes my3d {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

h2 {
	-webkit-animation: my3d 10s infinite alternate;
	-moz-animation: my3d 10s infinite alternate;
	-ms-animation: my3d 10s infinite alternate;
	-o-animation: my3d 10s infinite alternate;
	animation: my3d 10s infinite alternate;
}

@keyframes colorFunc {
	0% {
		color: #000;
		background-color: #abc8ce;
		border-radius: 5px;
	}
	100% {
		color: #fff;
		background-color: #08a2c9;
		border-radius: 13px;
	}
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
#group3 > div:hover {
	-webkit-animation: colorFunc 5s infinite alternate;
	-moz-animation: colorFunc 5s infinite alternate;
	-ms-animation: colorFunc 5s infinite alternate;
	-o-animation: colorFunc 5s infinite alternate;
	animation: colorFunc 5s infinite alternate;
}





















