<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="projectApp"> <!--$rootScope-->
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
  <!--<div ng-controller="projectController"> &lt;!&ndash;$scope&ndash;&gt;
    &lt;!&ndash;Angular expressions&ndash;&gt;
    <span>{{user.firstName}} {{user.lastName}} is {{11+10}} yrs old</span>
  </div>

  <div ng-controller="srikarController"> &lt;!&ndash;$scope&ndash;&gt;
    <span ng-bind="user.firstName"></span>
    <span ng-bind="user.lastName"></span>
    <br>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" ng-model="user.firstName" ng-change="checkFirstName()">
    <br>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" ng-model="user.lastName">
  </div>-->
  <div class="alert alert-danger" role="alert" ng-if="errorField">
    <span ng-bind="errorMessage"></span>
  </div>

  <div class="container">
    <srikar-element ng-model="HomeCtrl.user.firstName"></srikar-element>
  </div>


  <div ng-view=""></div>

    <!------------------------------------------------>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!--1. app.js-->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/httpInterceptor.js"></script>
        <!--2. services-->
        <script src="scripts/services/UserFactory.js"></script>
        <script src="scripts/services/LoginService.js"></script>
        <script src="scripts/services/URLFactory.js"></script>
        <script src="scripts/services/APIService.js"></script>

        <!--3. directives-->
        <script src="scripts/directives/SrikarElement.js"></script>
        <script src="scripts/directives/NumbersOnlyAttribute.js"></script>

        <!--4. filters-->

        <!--5. controllers-->
        <script src="scripts/controllers/ProjectController.js"></script>
        <script src="scripts/controllers/HomeController.js"></script>
        <!-- endbuild -->
  </body>
</html>
