body{
    background-color: @white;
}

.header{
    &:extend(.light-background, .border-bottom);
    &:hover{
        box-shadow: 0 2px 5px @dark-gray;
    }
}

.footer{
    background-color: @dark-gray;
    color: @white;
    &:hover{
        background-color: @white;
    }
}