<section class="container">
  <header></header>
  <article>
    <form >
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Enter username" ng-model="user.username">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="Enter password" ng-model="user.password">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="loginUser()">Submit</button>
      </div>
    </form>
  </article>
  <footer></footer>
</section>
