<!doctype html>
<html>
	<head>
		<title>Details</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../stylesheets/styles/main.css">
		
	</head>
	<body>
		<article class="contains">
			<header class="header row">
				<div class="column-md-1 column-xs-1 logo">
					<a href="login.html">
						<img src="../images/logo.jpg" height="80px" width="80px"/>
					</a>
				</div>
				<div class="column-offset-md-7 column-md-2 column-offset-xs-8 column-xs-2">
					<ul class="nav-list nav-right">
						<li class="nav-item"><a href="login.html">Home</a></li>
						<li class="nav-item"><a class="active" href="details.html">Details</a></li>
					</ul>
				</div>
			</header>
			<section class="row">
				<h1 class="column-xs-10 column-offset-xs-1 text-center header-text">Details</h1>
				<div class="column-xs-10 column-offset-xs-1 text-center text-box">
					<p><i class="fa fa-user" aria-hidden="true"></i> Shweta Ojha</p>
				</div>
				<div class="column-xs-10 column-offset-xs-1 text-center text-box">
					<p><i class="fa fa-phone-square" aria-hidden="true"></i> 888-888-8888</p>
				</div>
				<div class="column-xs-10 column-offset-xs-1 text-center text-box">
					<p><i class="fa fa-envelope" aria-hidden="true"></i> shwetapandey@gmail.com</p>
				</div>
				<div class="column-xs-10 column-offset-xs-1 text-center text-box">
					<p><i class="fa fa-music" aria-hidden="true"></i> Music</p>
				</div>
			</section>
			<footer class="footer row">
				<nav class="column-offset-xs-1 column-xs-10 column-md-6 column-offset-md-3">
					<ul>
						<li class="column-xs-3  column-md-3 footer-text">Contact Us</li>
						<li class="column-xs-3  column-md-3 footer-text">About Us</li>
						<li class="column-xs-3  column-md-3 footer-text">Locate Us</li>
						<li class="column-xs-3  column-md-3 footer-text">Copyright</li>
					</ul>
				</nav>
			</footer>
		</article>
	</body>
</html>