<!doctype html>
<html>
	<head>
		<title>Login</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="../stylesheets/styles/main.css">

		<script type="text/javascript" src="../scripts/script.js"></script>

	</head>
	<body>
		<article class="contains">
			<header class="header row">
				<div class="column-xs-1 column-sm-1 column-md-1 column-offset-md-0 logo">
					<a href="login.html">
						<img src="../images/logo.jpg" height="80" width="80"/>
					</a>
				</div>
				<div class="column-xs-2 column-sm-3 column-md-3 column-offset-md-6">
					<ul class="nav-list nav-right">
						<li class="nav-item"><a class="active" href="login.html">Home</a></li>
						<li class="nav-item"><a href="details.html">Details</a></li>
					</ul>
				</div>
			</header>
			<section class="row">
					<div class="column-md-4 column-offset-md-4 column-sm-8 column-offset-sm-2 column-xs-10 column-offset-xs-1">
						<h1 class="column-xs-10 column-offset-xs-1 text-center header-text">Login</h1>
						<form name="login-form" class="form-vertical" action="details.html">
							<div class="row form-group">
								<label for="email">Email:</label>
								<input type="email" placeholder="Email" />
							</div>
							<div class="row form-group">
								<label for="password">Password:</label>
								<input type="password" placeholder="Password" />
							</div>
							<div class="row form-group">
								<div>
									<button type="submit" class="primary-button">Login</button>
								</div>
							</div>
						</form>
					</div>
			</section>
			<footer class="footer row">
				<nav class="column-offset-xs-1 column-xs-10 column-md-6 column-offset-md-3">
					<ul>
						<li class="column-xs-3  column-md-3 footer-text">Contact Us</li>
						<li class="column-xs-3  column-md-3 footer-text">About Us</li>
						<li class="column-xs-3  column-md-3 footer-text">Locate Us</li>
						<li class="column-xs-3  column-md-3 footer-text">Copyright</li>
					</ul>
				</nav>
			</footer>
		</article>
	</body>
</html>